/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	
	
	
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	font-family: "montserrat", sans-serif;
}

h1{
	font-weight: 900;
	font-size: 2em;
}

h2{
	font-weight: 700;

}

a{
	border-radius: 2em;
	text-decoration: none;
	border-style: solid;
	color:#cf5107 ;
	padding: 0.5em;
}

img{
	width: 100%;
	height: auto;
}
.begin-homepagina{
	position: relative;
	color: rgb(255 255 255);
}

.tekstoverplaatje{
	position: absolute;
	top: 2em;
	left: 0.5em;
}

.scroll-image{
	display: flex;
	overflow: scroll;
	gap: 1em ;
	
}

.scroll-image img {
	width: 75%;
	border-radius: 1em;
}










