/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	font-family: "montserrat", sans-serif;
	overflow-x: hidden;

}

#logo{
	width: 8em;
	height: 10em;
	object-fit: contain;
	position:absolute;
	z-index: 2;
	padding: 1em;
	margin: 1em;
	background-color: white;
	border-radius: 0.5em;
	
}

.hidden { /* bron: https://codepen.io/TheSupermazter/pen/ogvNvwJ*/
	opacity: 0;
	transform: translateY(10vh);
	transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .visible { /* bron: https://codepen.io/TheSupermazter/pen/ogvNvwJ*/
	opacity: 1;
	transform: translateY(0);
  }
  
  /* navigatie button  bron voor de animatie van het hamburgermenu https://codepen.io/shooft/pen/JjQLVeB*/
 button {
	display:grid;
  	place-items:center;
	top: 2em;
	right: 3em;
	position: absolute;
	position: fixed;
	z-index: 9;
	width: 3em;
	height: 3em;
	border-radius: 1em;
	background-color: transparent;
	border: none;
	background: white;
	z-index: 999;
  }

  button span{
	grid-row-start: 1;
	grid-column-start: 1;
	width:1.2em;
  	height:.2em;
	transition-duration:.5s;
	background-color: black;
  }

  button span:nth-of-type(1) {
	transform:translateY(-.4em);
	gap: 2em;
  }

  button span:nth-of-type(3) {
	transform:translateY(.4em);
  }

  button[aria-expanded="true"] span:nth-of-type(1) {
	transform:rotate(45deg) scalex(1.25);
}

button[aria-expanded="true"] span:nth-of-type(2) {
	opacity:0; /* met opacity helemaal doorzichtig maken */
  }
  
button[aria-expanded="true"] span:nth-of-type(3) {
	transform:rotate(-45deg) scalex(1.25); 	/* met transform: */
	/* 1. 45 graden draaien tegen de klok in */
	/* 2. 25% langer maken */
  }

  header nav button.open span:nth-of-type(1) {
	transform: translate(0, 0) rotate(45deg);
}

header nav button.open span:nth-of-type(2) {
	transform: scale(0, 1);
}

header nav button.open span:nth-of-type(3) {
	transform: translate(0, 0) rotate(-45deg);
}


  /* Hamburgermenu */

  nav ul {
	display: flex;
	position: fixed;
	position: relative;
	width: 90%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	border-radius: 2em;
	position: absolute;
	background-color: white;
	list-style: none;
	z-index: 3;
	opacity: 0;
	visibility: hidden;

	/* animatie hamburger menu */
	transform: translateY(-100%);
	transition: transform 0.4s ease;
}

nav ul.open {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
	left: 1.25em;
	position: absolute;
	z-index: 10;

}

/* tekst hamburger menu */
nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 1em;
	line-height: 3em;
	text-align: center;
	border: none;
	position: relative;
	left: 1em;
	font-weight: 600;
}

nav ul li h3{
	position: relative;
	left: 1.25em;
	font-weight: 900;
	
}

/* Voor het vormgeven van het menu */

.navbegin{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	
}

.navbegin li{
	position: relative;
	top: 5em;
}

/* Voor de vormgeving van de eerste 3 blokjes van het menu */

.navbegin li:nth-of-type(1){
	border-radius: 0.5em;
	background-image: linear-gradient( #3db977, #259d5d); 
	position: relative;
	padding: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.navbegin li:nth-of-type(1) a:nth-of-type(1){
	position: relative;
	left: 3em;
	color: white;
	font-weight: 900;
}

.navbegin li:nth-of-type(2){
	border-radius: 0.5em;
	background-image: linear-gradient( #004877, #0072bc); 
	position: relative;
	padding: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.navbegin li:nth-of-type(2) a:nth-of-type(1){
	position: relative;
	left: 3em;
	color: white;
	font-weight: 900;
}

.navbegin li:nth-of-type(3){
	border-radius: 0.5em;
	background-image: linear-gradient( #cf5107, #df5200); 
	position: relative;
	padding: 1em;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
}

.navbegin li:nth-of-type(3) a:nth-of-type(1){
	position: relative;
	left: 3em;
	color: white;
	font-weight: 900;
}
/* Voor de onderste linkjes die naast elkaar staan boven de streep */

/* 
nav div:nth-of-type(2) {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	left: 2em;
}

nav div:nth-of-type(2){
	display: flex;
	flex-wrap: wrap;
	position: relative;
	left: 2em;
} */


h1{
	font-weight: 900;
	font-size: 2em;
	padding-left: 1em;
}

h2{
	font-weight: 700;
	padding-left: 1em;
	margin-top: 1em;
	
}

p {
	padding: 1em;

}

a{
	border-radius: 2em;
	text-decoration: none;
	border-style: solid;
	padding: 0.5em;
	color: white;
}

img{
	width: 100%;
	height: auto;
	
}

ul{
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.begin-homepagina{
	position: relative;
	margin-bottom: 25em;
}

.begin-homepagina h1{
	color: white;
	font-size: 2rem;
	z-index: 1;
    position: relative;
	left: 0;
	top: 8em;
	width: 10em;
	z-index: 2;
}

.begin-homepagina p{
	color: white;
	line-height: 1.5rem;
    position: relative;
	top: 15em;
	margin-top: 2em;
	font-weight: 600;
	z-index: 2;
	
}

.begin-homepagina a{
	position: absolute;
	color: white;
	background-color: #cf5107;
	border: none;
	padding: 0.8em;
	left: 1em;
	z-index: 1;
	top: 30em;
	font-weight: 600;
	z-index: 2;
}

.begin-homepagina img{
	position: absolute;
	top: 0em;
	height: 57em;
	object-fit: cover;
	z-index: 1;
}

.openinginfo{
	position: relative;
	z-index: 2;
	background-image: linear-gradient( #3db977, #259d5d); 
	top: 1em;
	margin: 1em;
	margin-bottom: 5em;
	border-radius: 1em;
	height: 20em;
}

	.openinginfo p{
	color: white;
	font-weight: 900;
	font-size: 1.25em;
	position: absolute;
	top: 4em ;
	left: 1em;
	width: 15em;	
}

	.openinginfo a:nth-of-type(1){
	position: absolute;
	border: none;
	width: 10em;
	text-decoration: underline;
	top: 2em;
	left: 2em;
	}

	.openinginfo a:nth-of-type(2){
		position: absolute;
		border: none;
		top: 11em;
		left: 3em;
		padding: 0.8em;
		background-color: #cf5107;
		}


	.openinginfo a:nth-of-type(3){
		position: absolute;
		top: 15em;
		left: 3em;
		padding: 0.8em;
		}

	/* Carousels*/

	.carouselhome{
		position: relative;
		display: flex;
		overflow: hidden;
		margin-top: 3em;
		width: 100%;
    	height: 12em; 
		justify-content: center;
	}

	.carouselhome img{
		position: absolute;
		width: 24em;
		height: 12em;
		border-radius: 1em;
		object-fit: cover;
		object-position: center;
		opacity: 0;
	}

	.carouselhome img.actief{
		opacity: 1;
		z-index: 1;
	}

	.carouselhome button{
		position: absolute;
		border-radius: 999em;
		padding: 1em;
		background-color: transparent;
		border: solid;
		border-color: white;
	}

	.carouselhome button img{
		width: 3em;
		height: 1em;
		color: white;
		filter:brightness(20);
		opacity: 1;
	}

	.vorige{
		right: 7em;
		top: 10em;

	}

	.volgende{
		right: 2em;
		top: 10em;
	}

	.carousel2{
		position: relative;
		display: flex;
		overflow: hidden;
		margin-top: 1em;
		width: 100%;
    	height: 17em; 
		justify-content: center;
	}

	.carousel2 img{
		position: absolute;
		width: 24em;
		height: 17em;
		border-radius: 1em;
		object-fit: cover;
		object-position: center;
		opacity: 0;
	}

	.carousel2 img.actief{
		opacity: 1;
	}

	/* wat we doen stukje */
	
	.watwedoen{
		background-image: linear-gradient(#006cb3,#004877 );
		padding-top: 1em;
		color: white;
	}

	.watwedoen p{
		position: relative;
		font-weight: 100;
	}

	.watwedoen div:nth-of-type(1){
		position: relative;
		background-color: white;
		height: 15em;
		border-radius: 1em;
		width: 24em;
		left: 1em;
		align-items: center;
		top: 2em;
		padding-top: 1em;
		overflow: hidden;
	}

	.watwedoen div:nth-of-type(1) a{
		color: black;
		opacity: 0.6;
		margin-left: 1em;
		display: flex;
		position: relative;
		border: none;
		display: flex;
	}

	.watwedoen div:nth-of-type(2) a:nth-of-type(1){
		position: relative;
		display: flex;
		width: 10em;
		justify-content: center;
		margin-top: 3em;
	}

	.watwedoen div:nth-of-type(2) a:nth-of-type(2){
		position: relative;
		display: flex;
		width: 10em;
		justify-content: center;
		left: 1em;
		margin-top: 0.5em;
	}

	/* opmaak achtergrond 10 soorten */

	section:nth-of-type(9){
		background-color: #004877;
		color: white;
		padding-top: 1em;
		padding-bottom: 4em;
	}

	section:nth-of-type(6){
		background-color:#eaf7f0;
		padding-top: 0.5em;
		position: relative;
		padding-bottom: 3em;
	}

	/* Scroll afbeeldingen */

	.scroll{
	display: flex;
	flex-direction: row;
	overflow: scroll;
	margin-bottom: 2em;
	position: relative;
	margin-top: 2em;
	gap: 1em;
	}

	.scroll img{
	width: 15em;
	height: 18em;
	object-fit: cover;
	border-radius: 1em;
	position: relative;
	margin-left: 1em;
	}
	
	ul.scroll > li:nth-of-type(1) h3{
	position: absolute;
	top: 7em;
	left: 2em;
	color: white;
	font-size: 1.2em;
	width: 10em;
	z-index: 2;
	}

	ul.scroll > li:nth-of-type(2) h3{
	position: absolute;
	top: 7em;
	left: 16em;
	color: white;
	font-size: 1.2em;
	width: 10em;
	z-index: 2;
	}

	ul.scroll > li:nth-of-type(3) h3{
		position: absolute;
		top: 7em;
		left: 30em;
		color: white;
		font-size: 1.2em;
		width: 10em;
		z-index: 2;
		}

		ul.scroll > li:nth-of-type(1) a{
		position: absolute;
		left: 2em;
		bottom: 1em;
		font-size: 1.2em;
		z-index: 2;
	}

	ul.scroll > li:nth-of-type(2) a{
		position: absolute;
		right: -1em;
		bottom: 1em;
		font-size: 1.2em;
		z-index: 2;
	}

	ul.scroll > li:nth-of-type(3) a{
		position: absolute;
		right: -15em;
		bottom: 1em;
		font-size: 1.2em;
		z-index: 2;
	}

	/* app section */

	.app{
	position: relative;
	background-color: #eaf7f0;
	min-height: 40em;  /* De achtergrondkleur liet hij niet zien dus aan ChatGPT gevraagd waardoor dit zou komen, toen kwam eruit dat ik min-height zou kunnen gebruiken*/
	}

	.app img{
	position: absolute;
	left: 1em;
	border-radius: 1em;
	width: 22em;
    height: 15em ;
	object-fit: cover;
	margin-top: 2em;
	}

	.app div{
	z-index: 2;
	position: absolute;
	background-color: white;
	border-radius: 1em;
	padding: 1em;
	top: 15em;
	left: 2em;
	width: 22em;
	height: 20em;
	}

	.app div h2{
	position: absolute;
	left: 0;
	font-size: 1.25em;
	width: 15em;
	font-weight: 900;
	}
	
	.app div li{
		list-style-type: disc;
		position: relative;
		top: 5em;
		left: 1em;
	}

	 .app div li::marker{ /*https://www.w3schools.com/howto/howto_css_bullet_color.asp */ 
		color: #33af6d;
	}

	.app div a{
		position:absolute;
		bottom: 2em;
	}

	/* Scrollbar afbeeldingen dieren */

	.scrollbar{
		display: flex;
		flex-direction: row;
		overflow: scroll;
		gap: 2em;
		margin-bottom: 1em;
	}

	.scrollbar li {
		position: relative;
		margin-bottom: 1em;
	}

	.scrollbar li img{
		width: 20em;
		height: 25em;
		position: relative;
		left: 1em;
		border-radius: 1em;
	}

	.scrollbar h3{
		color: white;
		font-size: 1.25em;
		position: absolute;
		bottom: 2em;
		left: 2em;
		width: 2em;
	}

	.scrollbar li:nth-of-type(1) img:nth-of-type(2) {
		position: absolute;
		width: 20em;
		height: 25em;
		left: 1em;
		border-radius: 1em;
	}

	.scrollbar li:nth-of-type(1) img:nth-of-type(3) {
		position: absolute;
		width: 22em;
		height: 20em;
		object-fit: cover;
		left: 1em;
		top: 1em;
	}

	.scrollbar li:nth-of-type(2) img:nth-of-type(1) {
		position: absolute;
		width: 20em;
		left: 1em;
		border-radius: 1em;
	}


	.scrollbar li:nth-of-type(2) img:nth-of-type(3) {
		position: absolute;
		width: 22em;
		height: 22em;
		object-fit: cover;
		left: 0em;
		top: 0.5em;
	}

	.scrollbar li:nth-of-type(3) img:nth-of-type(1) {
		position: absolute;
		width: 20em;
		left: 1em;
		border-radius: 1em;
		
	}

	.scrollbar li:nth-of-type(3) img:nth-of-type(3) {
		position: absolute;
		width: 22em;
		height: 22em;
		object-fit: cover;
		left: 0em;
		top: 0em;
	}

	/* Nu in blijdorp */

	.nu{
		position: relative;
		z-index: 2;
		background-color: white;
		box-shadow: 0 10px 30px rgba(0, 0, 0, .14);  /* box-shadow element van https://www.w3schools.com/css/css3_shadows_box.asp de code die er achter staan van de css van de blijdorp website (https://diergaardeblijdorp.nl/nl?utm_term=blijdorp&utm_campaign=B+%7C+Diergaarde+Blijdorp+(NL)&utm_source=adwords&utm_medium=ppc&hsa_acc=2571617763&hsa_cam=269703749&hsa_grp=20206469669&hsa_ad=523858901276&hsa_src=g&hsa_tgt=kwd-306551720060&hsa_kw=blijdorp&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMInr_XyvKNigMVUaKDBx3otgN9EAAYASAAEgIh0vD_BwE)*/
		border-radius: 1em;
		padding: 1em;
		height: 21em;
		margin: 1em;
	}

	.nu h2{
		font-weight: 900;
	}

	.nu a{
		position:absolute;
		bottom: 1em;
		left: 1.5em;
		color: black;
		border-color: rgb(43 163 99);
	}



	/* doneren stukje */

	.doneren{
	position: relative;
	}

	.doneren img{
	position: relative;
	left: 1em;
	border-radius: 1em;
	width: 22em;
    height: 18em ;
	object-fit: cover;
	margin-top: 3em;
	}

	.doneren div{
	z-index: 2;
	position: relative;
	background-color: white;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .14);  /* box-shadow element van https://www.w3schools.com/css/css3_shadows_box.asp de code die er achter staan van de css van de blijdorp website (https://diergaardeblijdorp.nl/nl?utm_term=blijdorp&utm_campaign=B+%7C+Diergaarde+Blijdorp+(NL)&utm_source=adwords&utm_medium=ppc&hsa_acc=2571617763&hsa_cam=269703749&hsa_grp=20206469669&hsa_ad=523858901276&hsa_src=g&hsa_tgt=kwd-306551720060&hsa_kw=blijdorp&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMInr_XyvKNigMVUaKDBx3otgN9EAAYASAAEgIh0vD_BwE)*/
	border-radius: 1em;
	padding: 1em;
	top: -1.5em;
	left: 2.5em;
	width: 22em;
	height: 20em;

	}

	.doneren div h2{
	position: absolute;
	left: 0;
	font-size: 1.25em;
	width: 15em;
	font-weight: 900;
	}

	.doneren div p{
	position: relative;
	top: 5em;
	left: -0.8em;
	font-size: 0.875em;
	width: 24em;
	

	}

	.doneren div a:nth-of-type(1){
	position:absolute;
	bottom: 6em;
	left: 0;
	}

	.doneren div a:nth-of-type(2){
	position:absolute;
	bottom: 2.5em;
	color: black;
	border-color: rgb(43 163 99);
	}

	/* nieuws afbeeldingen */

	.nieuws{
	position: relative;
	margin: 1em;
	}

	.nieuws img{
	border-radius: 1em;
	object-fit: cover;
	height: 15em;	
	}

	.nieuws h3{
	position: absolute;
	bottom: 2em;
	left: 2em;
	/* width: 10em; */
	color: white;
	font-size: 1.25rem;
	}

	.nieuws p{
	position: absolute;
	top: 8em;
	left: 2em;
	color: white;
	font-size: 0.875rem;
	}

	.nieuws a{
	position: absolute;
	background-image: linear-gradient(to right, #3db977 ,#259d5d);
	border: none;
	border-radius: 0.5em;
	left: 1em;
	top: 1em;
	font-size: 0.875em;
	}

	#nieuwsh2{
		box-shadow: 0 10px 30px rgba(0, 0, 0, .14);
		padding: 1em;
		border-radius: 0.5em;
		margin: 1em;
	}

	/* locatie elementen */

	.locatie{
		background-image: linear-gradient( #006cb3, #004877);
		margin-top: 5em;
		padding-bottom: 5em;
		position: relative;
	}

	.locatie img{
		position: absolute;
		border-radius: 1em;
		object-fit: cover;
		object-position: center;
		opacity: 0;
		margin-top: 1em;
	}

	.locatie img.actief{
		opacity: 1;
		z-index: 1;
	}
/* Voor de opmaak van het carousel en een container daarvan te maken waar de images in moeten blijven */
	.carousellocatie{
		position: relative;
		width: 24em; 
		height: 12em; 
		margin: auto;
		overflow: hidden;
}

	.locatie div:nth-of-type(2){
		position: relative;
		background-color: white;
		border-radius: 1em;
		box-shadow: 0 10px 30px rgba(0, 0, 0, .14);
		padding-top: 1em;
		margin: 1em;
		height: 16em;
	}

	.locatie div h2{
		font-weight: 900;
		width: 15em;
	}

	.locatie div p{
		position: relative;
		left: 0.5em;
		font-size: 0.875em;
	}

	.locatie div a{
	position: absolute;
	color: black;
	border-color: rgb(43 163 99);
	left: 1em;
	}

	/* Buttons waarmee er door de afbeeldingen kan worden geklikt */
	.locatie button{
		position: absolute;
		border-radius: 999em;
		padding: 1em;
		background-color: transparent;
		border: solid;
		border-color: white;
	}

	.locatie button img{
		position: absolute;
		top: 0;
		object-fit: cover;
		width: 3em;
		height: 1em;
		color: white;
		filter:brightness(20);
		opacity: 1;
	}

	/* nieuwsbrief container */

	.nieuwsbrief{
	position: relative;
	background-color:#026fb4 ;
	}

	.nieuwsbrief img{
	position: relative;
	left: 1em;
	border-radius: 1em;
	width: 22em;
    height: 18em ;
	object-fit: cover;
	margin-top: 3em;
	}

	.nieuwsbrief h2{
	left: 0;
	font-size: 1.25em;
	width: 15em;
	font-weight: 900;
	}

	.nieuwsbrief div{
	z-index: 2;
	position: relative;
	background-color: white;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .14);  /* box-shadow element van https://www.w3schools.com/css/css3_shadows_box.asp de code die er achter staan van de css van de blijdorp website (https://diergaardeblijdorp.nl/nl?utm_term=blijdorp&utm_campaign=B+%7C+Diergaarde+Blijdorp+(NL)&utm_source=adwords&utm_medium=ppc&hsa_acc=2571617763&hsa_cam=269703749&hsa_grp=20206469669&hsa_ad=523858901276&hsa_src=g&hsa_tgt=kwd-306551720060&hsa_kw=blijdorp&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMInr_XyvKNigMVUaKDBx3otgN9EAAYASAAEgIh0vD_BwE)*/
	border-radius: 1em;
	padding: 1em;
	top: -1.5em;
	left: 2.5em;
	width: 22em;
	height: 30em;
	}

	label{ /* radiobuttons https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */ 
	display: flex;
	gap: 0.5em;
	position: relative;
	padding-left: 2em;
	margin-bottom: 1em;
	margin-top: 1em;
	}

	.nieuwsbrief label:nth-of-type(3) input:nth-of-type(1){
		border-radius: 3em;
		width: 100%;
		background-color: #e5f1f8;
		border: none;
		padding: 1em;
		font-size: 1em;
		font-family: "montserrat", sans-serif;
		
	}

	.nieuwsbrief label:nth-of-type(4){
		border-radius: 2em;
		width: 20%;
		background-image: linear-gradient(to right, #0072bc ,#004877);
		border: none;
		position: absolute;
		right: 1em;
		top: 9.8em;
		padding: 1em;
	}
	

/* Begin Partnerpagina */

.begin-partnerfoto{
	position: relative;
	padding-top: 12em;
}

.begin-partnerfoto img{
	position: absolute;
	top: 0;
	z-index: -1;
	height: 32em;
	object-fit: cover;
}

.begin-partnerfoto h1{
	color: white;
	font-size: 2rem;
	z-index: 1;
    position: relative;
}

.begin-partnerfoto p{
	color: white;
	font-size: 0.875rem;
	line-height: 1.5rem;
	z-index: 1;
    position: relative;
}

.container {
	position: relative;
	margin: 1em;
}

.container h2{
	position: absolute;
	top: 1em;
	left: 1em;
	color: white;
	font-size: 1.25rem;
	padding: 1em;
}

.container img{
	border-radius: 1em;
	height: 20em;
	object-fit: cover; /* Zorgt ervoor dat de afbeelding netjes past zonder uitgerekt te worden  bron: ChatGPT*/
}

.container p{
	position: absolute;
	top: 1.5em;
	left: 2em;
	color: white;
	font-size: 0.875rem;
}

.container button img{
	height: 2em;
}


.ButtonPlaatje{
	position: absolute;
	bottom: 3em;
	left: 2em;
	
}

/* scroll images van de projecten */
.scroll-image{
	display: flex;
	flex-direction: row;
	overflow: scroll;
	margin-bottom: 2em;
	position: relative;
	
}

.scroll-image img {
	width: 18em;
	border-radius: 1em;
	position: relative;
	margin-left: 1em;
}

.scroll-image li:nth-of-type(1) h3{
	position: absolute;
	bottom: 2em;
	left: 3em;
	color: white;
	font-size: 1em;

}

.scroll-image li:nth-of-type(2) h3{
	position: absolute;
	bottom: 2em;
	right: -3em;
	color: white;
	font-size: 1em;
}

/* gradient buttons  */

/* blauwe gradient button */
.gradient-button{
	background-image: linear-gradient(to right, #0072bc ,#004877);
	background-repeat: no-repeat;
	border: none;
	padding: 0.8em;
	margin-left: 1em;		
	}

/* groene gradient button */

.button-gradient{  /*https://www.w3schools.com/css/css3_gradients.asp " gradient als background color"*/
	background-image: linear-gradient(to right, #3db977 ,#259d5d);
	background-repeat: no-repeat;
	border: none;
	padding: 0.8em;
	margin-left: 1em;
}

/* contact class vormgeven */
.contact{
	position: relative;
	background-image: linear-gradient( #128948 , #3db977);
	min-height: 40em;  /* De achtergrondkleur liet hij niet zien dus aan ChatGPT gevraagd waardoor dit zou komen, toen kwam eruit dat ik min-height zou kunnen gebruiken*/
	margin-top: 3em;
	border-radius: 0.5em;

}

.contact img{
	position: absolute;
	left: 2em;
	border-radius: 1em;
	width: 22em;
    height: 15em ;
	object-fit: cover;
	margin-top: 2em;
}

.contact article{
	z-index: 2;
	position: absolute;
	background-color: white;
	border-radius: 1em;
	padding: 1em;
	top: 15em;
	left: 1em;
	width: 22em;
	height: 20em;
}

.contact h2{
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1.25em;
	font-weight: 900;
	padding-left: 0;
}

.contact p{
	padding: 0;
	margin-bottom: 1em;
	font-size: 0.9em;
}

.contact p:nth-of-type(3){
	margin-bottom: 2em;
}

.contact a{
	margin-left: 0em;
}


/* Overlay over de afbeeldingen */

.begin-partnerfoto::before {  /* https://bryanlrobinson.com/blog/how-to-css-after-elements-for-background-overlays */
	content: "";
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	height: 102.5%;
	background-color: black;
	opacity: 0.4;

}

main > section:nth-of-type(2) ul li::before {  /* https://bryanlrobinson.com/blog/how-to-css-after-elements-for-background-overlays */
	content: "";
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	border-radius: 1em;
}

/* Overlay kleuren scroll afbeelding */
.scroll li:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1em;
	width: 15em;
	height: 18em;
    z-index: 1; 
    border-radius: 1em;
	opacity: 0.7;
	background-color: #33af6d;
}

.scroll li:nth-of-type(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 18em;
	width: 15em;
	height: 18em;
    z-index: 1; 
    border-radius: 1em;
	opacity: 0.7;
	background-color:#df5200;
}

.scroll li:nth-of-type(3)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 35em;
	width: 15em;
	height: 18em;
    z-index: 1; 
    border-radius: 1em;
	opacity: 0.7;
	background-color:#0072bd;
}

/*******************/
/* Carousel autoplay partneroverzicht  bron: https://codepen.io/studiojvla/pen/qVbQqW en Chatgpt*/  
/*******************/

.carouselcontainer{
	position: relative;
	overflow: hidden; /* items buiten de container zijn zo niet te zien*/
	margin-top: 2em;
}

.carouselrij{
	display: flex;
	flex-direction: row; /* zorgt ervoor dat de ul elementen naast elkaar uitlijnen*/
	gap: 2em;
	padding: 0;
	margin: 0;
	margin-top: 2em;
	
}

.carouselrij li{
	position: relative;
}

.carouselrij h2{
	position: absolute;
	bottom: 2em;
	color: white;
	font-size: 1em;
}

.carouselrij p{
	position: absolute;
	top: 1em;
	left: 1em;
	font-size: 0.8em;
	background-color: cadetblue;
	border-radius: 2em;
	color: white;

}

.carouselrij img{
	border-radius: 1em;
	width: 12em;
	height: 12em;
	object-fit: cover;
}

.boven{
	animation: scroll-right 10s linear infinite;
}

.onder {
	animation: scroll-left 10s linear infinite;
}

/* footer */

footer{
	background-image: linear-gradient( #026fb4 , #00568d); 
}

footer ul{
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(2, minmax(0, 1fr));  /* bron: gehaald uit code blijdorp https://diergaardeblijdorp.nl/nl?utm_term=blijdorp&utm_campaign=B+%7C+Diergaarde+Blijdorp+(NL)&utm_source=adwords&utm_medium=ppc&hsa_acc=2571617763&hsa_cam=269703749&hsa_grp=20206469669&hsa_ad=523858901276&hsa_src=g&hsa_tgt=kwd-306551720060&hsa_kw=blijdorp&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=EAIaIQobChMI5KTjyOeaigMVqDsGAB268gnzEAAYASAAEgJmivD_BwE*/
	row-gap: 1em;
	margin-bottom: 2em;
	
}

footer img{
	width: 100%;
    object-fit: contain;
    object-position: center;
    height: 10em;
	margin: 5em 0;
}

footer p{
	color: white;
	line-height: 0.5em;
	margin-left: 0.5em;
}

footer li a{
	font-weight: 600;
	color: white;
	border: none;
	margin-left: 1em;
	justify-content: left;
	font-size: 1em;
}

footer section:nth-of-type(2){
	background-color:rgb(1 76 125);
	padding-top: 4em;
	padding-bottom: 4em;
}

footer section:nth-of-type(2) p{
	opacity: 0.6;
	font-size: 0.875em;
	justify-content: center;
	display: flex;
}

footer a{
	border: none;
	display: flex;
	justify-content: center;
	font-size: 0.875em;
}

.socialmedia{
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: center;
}

.socialmedia img{
	height: 1.5em;
	width: 2em;
	margin: 0;
	margin-top: 2em;
}

.socialmedia li:nth-of-type(3) img{
	filter: invert(1);
}

/* Vormgeving voor dark mode */
/* bron: https://codepen.io/shooft/pen/xxozyVW */

@media (prefers-color-scheme: dark) { 
	:root {
		background-color: black;
		color: white;
	}

	#nieuwsh2{
		background-color: white;
		color: black;
	}

	button{
		background-color: black;
	}

	button span{
		background-color: white;
	}

	button img{
		filter: brightness(20);
	}

	.navbegin.open{
		background-color: black;
	}

	.navbegin.open a{
		color: white;
	}


	div.hidden.visible {
		color: black;
	}

	.nu{
		color: black;
	}
}

/*animatie voor de bovenste rij (scrollt naar rechts)*/

@keyframes scroll-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/*animatie voor de onderste rij (scrollt naar links)*/
@keyframes scroll-left{
	0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Button om de tekst groter te maken (toegankelijkheid) */

.tekstgroter{
	background-image: linear-gradient(#cc7847, #e05403);
	position: sticky;
	margin-top: 3em;
	left: 2em;
	font-family: "montserrat", sans-serif;
	width: 15em;
	color: white;
	padding: 0.5em;
	text-decoration: underline;
	font-weight: 700;
	z-index: 8;
}

.tekstgroot h2.hidden:nth-of-type(2){
	font-size: 2.25em;
}

.tekstgroot p.hidden:nth-of-type(1){
	font-size: 1.25em;
}




	








